<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.CartMapper">
 
   
   <!-- 카트 추가 -->
   <insert id="addCart" parameterType="CartDTO">
   	insert into cart(book_id, member_id, quantity)
   		values (#{book_id}, #{member_id}, #{quantity})
   </insert>
   
   <!-- 카트 삭제 -->
   <delete id="deleteCart">
   		delete from cart
   		where cart_num = #{cart_num}
   </delete>
   
   <!-- 카트 수량 수정 -->
   <update id="updateCart">
   		update cart
   		set quantity = #{quantity}
   		where cart_num = #{cart_num}
   </update>
   
   <!-- 카트 목록 -->
   <select id="cartList" resultType="CartDTO" parameterType="String">
   		select cart.cart_num,
   			   cart.book_id,
   			   cart.member_id, 
   			   cart.quantity, 
   			   book.book_name, 
   			   book.book_price,
   			   book.bImage
   		from cart 
   		left join book on cart.book_id = book.book_id
   		where cart.member_id = #{cart.member_id}
   </select>
   
   <!--  카트 확인 -->
   <select id="checkCart" resultType="CartDTO">
   		select *
   		from cart
   		where member_id = #{member_id} and book_id = #{book_id}
   </select>
   
</mapper>


